Repository yieldgate/yieldgate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,html,css,json,yml}": "prettier --write",
  "*.sol": "solhint --fix"
}

frontend: Improve lint and format scripts
  packages/frontend/package.json
Due: prettier --write

hardhat: Improve lint and format scripts
  packages/hardhat/package.json
Due: prettier --write

chore: Add prettier lint and format scripts to monorepo root
  package.json
Due: prettier --write

chore: turbo: Add lint pipeline, add root lint&format to pipelines
  turbo.json
Due: prettier --write

ci: Fix formatting in deploy.yml GH action
  .github/workflows/deploy.yml
Due: prettier --write

ci: Add CI Github action
  .github/workflows/ci.yml
Due: prettier --write

ci: Fix Lint step to run proper script
  .github/workflows/ci.yml
Due: prettier --write

chore: Remove solhint --fix from lint-staged
  .lintstagedrc.json
Due: prettier --write

chore: Rename format scripts to lint:fix
  package.json
  packages/frontend/package.json
  packages/hardhat/package.json
Due: prettier --write

ci: Rename Github job to Lint
  .github/workflows/ci.yml
Due: prettier --write

chore: Rename frontend dev,start scripts
  package.json
Due: prettier --write

chore: Add .prettierignore to root
  .prettierignore
Due: none

chore: lint-staged: Add .yml to prettier, .sol to solhint hook
  .lintstagedrc.json
Due: prettier --write

chore/hardhat: Remove superfluous .prettierignore entries
  packages/hardhat/.prettierignore
Due: none

Improve favicons
  packages/frontend/pages/_document.tsx
  packages/frontend/public/apple-touch-icon.png
  packages/frontend/public/favicon.ico
  packages/frontend/public/icon-192.png
  packages/frontend/public/icon-512.png
  packages/frontend/public/icon.svg
  packages/frontend/public/manifest.webmanifest
Due: eslint --fix, prettier --write

Place icons under /favicons folder
  packages/frontend/pages/_document.tsx
  packages/frontend/public/favicons/apple-touch-icon.png
  packages/frontend/public/favicons/favicon.ico
  packages/frontend/public/favicons/icon-192.png
  packages/frontend/public/favicons/icon-512.png
  packages/frontend/public/favicons/icon.svg
  packages/frontend/public/favicons/manifest.webmanifest
Due: eslint --fix, prettier --write

Fix outdated favicon paths on manifest
  packages/frontend/public/favicons/manifest.webmanifest
Due: none

chore: rename format-command in turbo.json
  turbo.json
Due: prettier --write

chore: add lint-stage files on package level
  .lintstagedrc.json
  packages/frontend/.lintstagedrc.json
  packages/hardhat/.lintstagedrc.json
Due: prettier --write

chore: remove debug-flag
  .lintstagedrc.json
Due: prettier --write

frontend: update react, chakra + bump some deps
  packages/frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

frontend: add tailwindcss
  .vscode/yieldgate.code-workspace
  packages/frontend/package.json
  packages/frontend/pages/_app.tsx
  packages/frontend/postcss.config.js
  packages/frontend/styles/tailwind.css
  packages/frontend/tailwind.config.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Readd unsupported chain handling to CreatorCard
  packages/frontend/components/creator/CreatorCard.tsx
Due: eslint --fix, prettier --write

Add initial Rainbow Kit setup
  packages/frontend/components/ChainSwitchMenu.tsx
  packages/frontend/components/ConnectWallet.tsx
  packages/frontend/components/ConnectWalletButton.tsx
  packages/frontend/components/creator/CreatorCard.tsx
  packages/frontend/components/layout/Navbar.tsx
  packages/frontend/lib/wagmiClient.ts
  packages/frontend/pages/_app.tsx
Due: eslint --fix, prettier --write

Upgrade rainbowkit and wagmi
  packages/frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

Readd profile link to Navbar
  packages/frontend/components/layout/Navbar.tsx
Due: eslint --fix, prettier --write
